@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&display=swap');

 * {
    margin: 0;
    padding: 0;
    border: none;
 }

 body {
    font-family: Playfair Display, sans-serif;
    font-weight: 500;
    color: white;
    background: url(../images/backround-flower.jpg) no-repeat;
    background-size: cover;
    display: flex; 
    flex-direction: column; 
    min-height: 100vh; 
    background-color: rgb(59, 59, 59);
}

.page-wrapper {
    flex: 1;
}

/* headings and logo */

#who-is-viktor {
    margin-left: 18px;
    color: white;
    position: absolute;
    margin-top: -145px;
    font-size: xxx-large;
    margin-left: 780px;
}

#logo {
    float: left;
    font-size: 300%;
    font-family: Playfair Display, sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: white;
    padding-left: 15px;
}

/* navigation links */

#menu {
    font-size: 120%;
    letter-spacing: 4px;

}

#menu, #logo {
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid black;
}

.active {
    border-bottom: 1px solid black;
}

/* main image */

#image-about {
    background: url('../images/viki_main_image.png') no-repeat center;
    height: 800px;
}

/* second image */

#second-image-container {
    border-style: solid;
    border-color: white;
    width: fit-content;
    margin: 0 auto;
    margin-top: 150px;
}
#second-image {
    background: url(../images/viki\ on\ a\ boat.jpg) bottom no-repeat;
    height: 700px;
    width: 1000px;

}

/* paragraphs */

#introduction {
    font-family: Playfair Display, sans-serif;
    float: left;
    color: rgb(202, 202, 202);
    padding-left: 17px;
    font-size: large;
    margin-top: -70px;
    font-size: 20pt;
}

#brief-history-heading {
    color: white;
    margin-left: 18px;
    color: white;
    position: absolute;
    margin-top: -145px;
    font-size: xxx-large;
    margin-left: 797px;
    margin-top: 90px;
}

#brief-history {
    font-family: Playfair Display, sans-serif;
    float: left;
    color: rgb(202, 202, 202);
    padding-left: 17px;
    font-size: large;
    margin-top: -70px;
    font-size: 20pt;
    margin-top: 200px;
}

/* site footer */



.social-links {
    text-align: center;
}

.social-links > li {
    display: inline;
}

.social-links i {
    font-size: 400%;
    margin: 2%;
    color: white;
    padding: 1%;
}

footer {
    height: 100px;
    width: 100%;
    background-color: rgb(59, 59, 59);
}