@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

 * {
    margin: 0;
    padding: 0;
    border: none;
 }

body {
    font-family: Playfair Display, sans-serif;
    font-weight: 500;
    color: black;
    background: url(../images/backround-flower.jpg);
}

/* headings and logo */

h2 {
    padding-top: 4px;
    margin-left: 18px;
    color: white;
}

#logo {
    float: left;
    font-size: 300%;
    font-family: Playfair Display, sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: white;
    padding-left: 15px;
}

/* navigation links */

#menu {
    font-size: 120%;
    letter-spacing: 4px;

}

#menu, #logo {
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid black;
}

.active {
    border-bottom: 1px solid black;
}

#image-about {
    background: url('../images/viki\ on\ a\ boat.jpg') no-repeat center;
    height: 600px;
    margin-top: 60px;
    margin-right: 700px;
}
