@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&display=swap');

 * {
    margin: 0;
    padding: 0;
    border: none;
 }

 body {
    font-family: Playfair Display, sans-serif;
    font-weight: 500;
    color: white;
    background: url(../images/backround-flower.jpg) no-repeat;
    background-size: cover;
    display: flex; 
    flex-direction: column; 
    min-height: 100vh; 
    background-color: rgb(59, 59, 59);
}

.page-wrapper {
    flex: 1;
}

/* headings and logo */

#who-is-viktor {
    margin-left: 18px;
    color: white;
    position: absolute;
    margin-top: -145px;
    font-size: xxx-large;
    margin-left: 780px;
}

#logo {
    float: left;
    font-size: 300%;
    font-family: Playfair Display, sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: white;
    padding-left: 15px;
}

/* navigation links */

#menu {
    font-size: 120%;
    letter-spacing: 4px;

}

#menu, #logo {
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 2px solid white;
}

.active {
    border-bottom: 2px solid white;
}

/* main image */

#image-about {
    background: url('../images/viki_main_image.png') no-repeat center;
    height: 800px;
}

/* second image */

#second-image-container {
    border-style: solid;
    border-color: white;
    width: fit-content;
    margin: 0 auto;
    margin-top: 150px;
}
#second-image {
    background: url(../images/viki\ on\ a\ boat.jpg) bottom no-repeat;
    height: 700px;
    width: 1000px;

}

/* paragraphs */

#introduction {
    font-family: Playfair Display, sans-serif;
    float: left;
    color: rgb(202, 202, 202);
    padding-left: 17px;
    font-size: large;
    margin-top: -70px;
    font-size: 20pt;
}

#brief-history-heading {
    color: white;
    margin-left: 18px;
    color: white;
    position: absolute;
    margin-top: -145px;
    font-size: xxx-large;
    margin-left: 797px;
    margin-top: 90px;
}

#brief-history {
    font-family: Playfair Display, sans-serif;
    float: left;
    color: rgb(202, 202, 202);
    padding-left: 17px;
    font-size: large;
    margin-top: -70px;
    font-size: 20pt;
    margin-top: 200px;
}

/* site footer */



.social-links {
    text-align: center;
}

.social-links > li {
    display: inline;
}

.social-links i {
    font-size: 400%;
    margin: 2%;
    color: white;
    padding: 1%;
}

footer {
    height: 100px;
    width: 100%;
    background-color: rgb(59, 59, 59);
}

/* gallery */ 

#gallery-photos {
    clear: both;
    line-height: 0;
    column-count: 4;
    column-gap: 2px;
}

#gallery-photos > img {
    width: 100%;
}

/* Media Queries */

/* For larger to mediom screens size from 1200px wide and down */
@media screen and (max-width: 1200px) {
    #introduction-and-history {
        width: 65%;
        height: 1200px;
        margin: 0 auto;
    }

    #who-is-viktor {
        padding: 30px 0;
        margin: 0;
        position: absolute;   
        margin-top: -200px;
        padding-left: 150px;
    }

    #brief-history-heading {
        padding: 30px 0;
        margin: 0;
        position: absolute;
        padding-left: 150px;
        margin-top: 350px;
    }

    #brief-history {
        margin-top: 20px;
    }


#second-image-container, #second-image, #brief-history {
    width: 100%;
    float: left;
    padding: 0;
}

}

/* For medium screen sizes from 950px wide and down */
@media screen and (max-width: 950px) {

    #menu {
        clear: left;
        float: left;
        margin-left: 30px;
        margin-bottom: 20px;
        line-height: 25px;
    }

    #image-about {
        width: 800px;
        margin-left: -150px;
    }

    #brief-history-heading {
        margin-top: 480px;
        margin-left: -20px;
    }

    #who-is-viktor {
        margin-left: -60px;
    }

    #gallery-photos {
        column-count: 3;
    }

}

/* For small screen sizes from 425px wide and down */
@media screen and (max-width: 425px) {

    #logo {
        width: 500px;
    }

    #menu {
        clear: left;
        float: left;
        position: absolute;
        margin: 0;
        margin-top: 70px;
        padding-left: 30px;
        width: 400px;
    }

    #who-is-viktor {
        width: 400px;
        margin-left: -20px;
    }

    #introduction {
        width: 600px;
    }

    #brief-history-heading {
        width: 400px;
        margin-top: 360px;
    }

    #second-image-container {
        width: 600px;
    }

    #second-image {
        width: 600px;
    }

    #brief-history {
        width: 600px;
    }

    footer {
        width: 724px;
    }

    #gallery-photos {
        column-count: 2;
        padding-top: 40px;
        width: 100%;
    }

    body {
        width: 724px;
    }

}